.qualidade{
  max-width: 960px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;

}

.qualidadeItem{
  flex: 1 1 300px;
  margin: 20px 10px;
}
.qualidadeItem h2{
  font-size: 2.25rem;
  color: #a4a4a4;
  margin-bottom: 20px;

}

.qualidadeItem h2::before{
  content: '';
  display: inline-block;
  width: 8px;
  height: 30px;
  background: blue;
  margin-right: 10px;
}
.qualidadeItem:nth-last-of-type(3n+1) h2::before{
  background: #66d9eb;
}
.qualidadeItem:nth-last-of-type(3n+2) h2::before{
  background: #f9265e;
}
.qualidadeItem:nth-last-of-type(3n+3) h2::before{
  background: #ae81ff;

}
.qualidadeItem p{
  font-size: 1.25rem;
  line-height: 1.4;
  color: #777777;
}